

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    scroll-behavior: smooth;
    scroll-margin-top: 70px;
    font-size: 16px;
    color: #444452;
}

.whole_section {
    padding-left: 5rem;
    padding-right: 2rem;
}

.nav-link:hover {
    border-bottom: 3px solid #007BFF;
    font-size: 1rem;
}

.nav-link {
    font-weight: bolder;
    font-size: 0.9rem;
}

/* Home Section */

.header_title {
    font-family: Tangerine;
    font-size: 3.5rem;
    font-weight: bold;
}

.header_title_text {
    font-size: 2rem;
}

.header_title_name {
    font-size: 2rem;
}

.hand_pointer_size {
    margin: 0.8rem 1rem;
    font-size: 2em !important;
}

.getintouch_title {
    font-size: 1.2rem;
}

.getintouch_email {
    border-bottom: 3px solid #007BFF;
    font-size: 1.3rem;
    text-decoration: none;
    color: #444452;
}

.getintouch_email:hover {
    text-decoration: none;
    color: #444452;
}


#getintouch {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    
}

#contact_info {
    margin-top: 2rem;
}

.contact_info_sep_icons {
    margin: 0px 1rem;
    font-size: 2rem;
}

.contact_info_fad {
    font-size: 2rem;
}

.contact_info_fad:hover {
    font-size: 2.2rem;
}


/* About Section */

.headtitle {
    width: 30%;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #007BFF;
}

.about_text {
    font-size: 1rem;
}

/* Education Section */

.education_details_logo {
    font-size: 1rem;
}

/* Project Section */

.project_title_text {
    font-size: 1.5rem;
    font-weight: normal;
}

.cat_vs_dog_live {
    font-size: 1rem;
}

#header_intro {
    width: 70%;
}


#head {
    height: -webkit-calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 200px;
}

.about_details {
    width: 70%;
}


#education {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 200px;
}


#skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 200px;
}


.skill_text {
    font-weight: bolder;
}

.skill_cir {
    margin-right: 30px;
    margin-bottom: 40px;
}



.c_plus {
    width: 90%;
}

.python {
    width: 70%;
}

.java {
    width: 60%;
}

.react {
    width: 50%;
}

.python {
    width: 70%;
}

.machine_learning {
    width: 50%;
}

.html {
    width: 95%;
}

.css {
    width: 90%;
}

.javascript {
    width: 90%;
}


#accomplishments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 200px;
}


#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}



.details {
    width: 70%;
    padding-left: 20px;
}

.profile_image {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.profile_img {
    width: 266px;
    height: 266px;
    border-radius: 50%;
}

.footerContent {
    display: inline;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin-bottom: 0.5rem;
}

.footer_des_text {
    font-size: 1rem;
    font-weight: bold;
}



@media (max-width: 583px) {

    * {
        scroll-margin-top: 350px;
    }

    .whole_section {
        padding-left: 2rem;
        padding-right: 1rem;
    }

    /* Header Section */

    .header_title {
        font-family: Tangerine;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .header_title_text {
        font-size: 1.2rem;
    }
    
    .header_title_name {
        font-size: 1.3rem;
    }

    .getintouch_title {
        font-size: 1rem;
    }

    .getintouch_email {
        border-bottom: 3px solid #007BFF;
        font-size: 1rem;
        text-shadow: 0.5rem 0.5rem 1rem #E5E5E5;
        text-decoration: none;
        color: #444452;
    }
    
    .getintouch_email:hover {
        text-decoration: none;
        color: #444452;
    }

    #getintouch {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    #contact_info {
        margin-top: 2rem;
    }

    .hand_pointer_size {
        margin: 0px;
        font-size: 1em !important;
    }

    #contact_info {
        text-align: center;
    }

    .contact_info_sep_icons {
        margin: 0px 0.6rem;
        font-size: 1.5rem;
    }

    .contact_info_fad {
        font-size: 1.5rem;
    }

    /* About Section */

    .about_text {
        font-size: 0.9rem;
    }

    /* Education Section */

    .education_details_logo {
        font-size: 0.7rem;
    }

    .education_details_title {
        font-size: 0.8rem;
    }

    /* Project Section */

    .project_title_text {
        font-size: 1.2rem;
    }

    .cat_vs_dog_live {
        font-size: 0.9rem;
    }


    #header_intro {
        width: 100%;
    }

    .headtitle {
        margin-bottom: 70px;
        width: 100%;
        text-align: left;
    }

    .profile_img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .details {
        width: 90%;
        margin-left: 10%;
    }
    
    #about {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #education {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    #skills {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #accomplishments {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    
    #projects {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    /* Footer Section */

    .footerContent {
        display: block;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        margin-bottom: 0.5rem;
    }


    .footer_text {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer_des_text {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .footerBy {
        align-self: center;
    }
    .footerName {
        align-self: center;
    }
    .footerBy {
        align-self: center;
    }
    .build_year {
        align-self: center;
    }
}


@media (min-width: 577px) and (max-width: 980px) {
    
    * {
        scroll-margin-top: 350px;
    }

    .whole_section {
        padding-left: 2rem;
        padding-right: 1rem;
    }

    #header_intro {
        width: 100%;
    }

    .header_title {
        font-family: Tangerine;
        font-size: 3rem;
        font-weight: bold;
    }
    
    .header_title_text {
        font-size: 1.4rem;
    }
    
    .header_title_name {
        font-size: 1.4rem;
    }
    
    .getintouch_title {
        font-size: 1.1rem;
    }
    
    .getintouch_email {
        border-bottom: 3px solid #007BFF;
        font-size: 1.1rem;
        text-decoration: none;
        color: #444452;
    }

    #getintouch {
        align-items: center;
        
    }
    

    .profile_img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .details {
        width: 90%;
        margin-left: 10%;
    }

    .headtitle {
        margin-bottom: 5rem;
        text-align: left;
    }

    #about {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #education {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    #skills {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #accomplishments {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    
    #projects {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .project_tile_text {
        font-weight: bold;
    }

    .footerContent {
        display: block;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
    .footer_text {
        font-size: 0.5rem;
        font-weight: bold;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 1200px) { 
    
 }

@media (min-width: 1400px) { 
    
 }