

* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    scroll-behavior: smooth;
    scroll-margin-top: 70px;
}

.whole_section {
    padding-left: 50px;
    padding-right: 50px;
}



.nav_bar {
    /* height: 70px; */
}


#header_intro {
    font-size: 32px;
    /* border: 2px solid black; */
    width: 75%;
}

.getintouch_text {
    font-size: 22px;
}


#head {
    height: -webkit-calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 150px;
    /* border: 2px solid black; */
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 200px;
}

.about_details {
    width: 70%;
}


#education {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 200px;
}


#skills {
    /* height: -webkit-calc(100vh - 70px); */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    /* margin-top: 200px; */
    padding: 20px;
    margin-bottom: 200px;
}


.skill_text {
    font-size: 16px;
    font-weight: bold;
    color: #3e99face;
    /* border-bottom: 2px solid #3e99face; */
}

.skill_cir {
    margin-right: 30px;
    margin-bottom: 40px;
}

/* .bar {
    background-color: rgba(214, 226, 236, 0.3);
    display: block;
    height: 20px;
    /* border: 1px solid rgb(0, 0, 0, 0.3); */
    /* border-radius: 10px; */
    /* overflow: hidden; */
    /* box-shadow: 0 0 9px rgb(0, 0, 0, 0.3); */
/* }  */

/* .bar span {
    height: 20px;
    float: left;
    border-radius: 10px;
    background-color: #3e99face;
} */




.c_plus {
    width: 90%;
}

.python {
    width: 70%;
}

.java {
    width: 60%;
}

.react {
    width: 50%;
}

.python {
    width: 70%;
}

.machine_learning {
    width: 50%;
}

.html {
    width: 95%;
}

.css {
    width: 90%;
}

.javascript {
    width: 90%;
}


#accomplishments {
    /* height: -webkit-calc(100vh - 70px); */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    padding: 20px;
    margin-bottom: 200px;
}




#projects {
    /* height: -webkit-calc(100vh - 70px); */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    padding: 20px;
}




#footer {
    /* height: -webkit-calc(100vh - 70px); */
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: end; */
    align-items: center;
    height: 100px;
    padding: 10px;
    
    margin-left: 50px;
    margin-right: 50px;
}


.headtitle {
    width: 30%;
    font-size: 20px;
    /* border: 1px solid black; */
    text-align: center;
}

.details {
    width: 70%;
    /* border: 1px solid black; */
    padding-left: 20px;
}


.profile_image {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.profile_img {
    width: 266px;
    height: 266px;
    border-radius: 50%;
}

.footerContent {
    display: inline;
}

.footer {
    /* height: -webkit-calc(100vh - 70px); */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* justify-content: end; */
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 10px;
}



@media (max-width: 576px) {

    * {
        scroll-margin-top: 350px;
    }

    .whole_section {
        padding-left: 20px;
        padding-right: 20px;
    }

    #header_intro {
        font-size: 20px;
        width: 100%;
    }

    .getintouch_text {
        font-size: 16px;
    }

    .headtitle {
        margin-bottom: 70px;
        width: 100%;
        /* border: 1px solid black; */
        text-align: left;
    }

    .profile_img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .details {
        width: 90%;
        /* border: 1px solid black; */
        margin-left: 10%;
    }

    
    #about {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        padding: 10px;
    }

    #education {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        padding: 10px;
    }
    
    
    #skills {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        /* margin-top: 200px; */
        padding: 10px;
    }

    #accomplishments {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        padding: 10px;
    }
    
    
    
    
    #projects {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        padding: 10px;
    }

    .project_tile_text {
        font-size: 20px;
        font-weight: bold;
    }

    .footerContent {
        display: block;
    }

    .footer {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
        justify-content: space-around;
        align-items: center;
        height: 150px;
        padding: 10px;

    }
    .footer_text {
        font-size: 14px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footerBy {
        align-self: center;
    }
    .footerName {
        align-self: center;
    }
    .footerBy {
        align-self: center;
    }
}


@media (min-width: 577px) and (max-width: 980px) {
    * {
        scroll-margin-top: 350px;
    }

    .whole_section {
        padding-left: 20px;
        padding-right: 20px;
    }

    #header_intro {
        font-size: 20px;
        width: 100%;
    }

    .getintouch_text {
        font-size: 16px;
    }

    .headtitle {
        margin-bottom: 70px;
        width: 100%;
        /* border: 1px solid black; */
        text-align: left;
    }

    .profile_img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .details {
        width: 90%;
        /* border: 1px solid black; */
        margin-left: 10%;
    }

    
    #about {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        padding: 10px;
    }

    #education {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        padding: 10px;
    }
    
    
    #skills {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        /* margin-top: 200px; */
        padding: 10px;
    }

    #accomplishments {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        padding: 10px;
    }
    
    
    
    
    #projects {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        padding: 10px;
    }

    .project_tile_text {
        font-size: 20px;
        font-weight: bold;
    }

    .footerContent {
        display: block;
    }

    .footer {
        /* height: -webkit-calc(100vh - 70px); */
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
        justify-content: space-around;
        align-items: center;
        height: 150px;
        padding: 10px;

    }
    .footer_text {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 1200px) { 
    
 }

@media (min-width: 1400px) { 
    
 }